body {
	--green: #28a745;
	--blue: #007bff;
}

.optionButton[quest-option] {
	background-color: var(--green);
	color: white;
}

.optionButton[quest-trigger] {
	background-color: var(--blue);;
	color: white;
}

.completedQuests {
	font-family: "Arial";
    display: flex;
    flex-flow: column;
    align-items: center;
	
	border: 5px solid black;
	z-index: 999;
	background-color: white;
	border-radius: 5px;
}

.completedQuests h1 {
	text-decoration: underline;
}

.completedQuests li {
	display: block;
}

.completedQuests li::after {
	display: inline;
	content: " ✅";
	color: var(--green);
}