
/* The class 'resultswrap' is used for the HTML element itself. */
.resultswrap {
	font-family: Arial, sans-serif;	/* Match Arial on the Text object */
	border: 1px solid black;		/* Add a black border */
	overflow-y: auto;				/* Allow vertical scrolling */
}

/* The class 'resultstable' is used for the <table> element. */
.resultstable {
	width: 100%;					/* Fill up the width of the HTML element */	
	border-collapse: collapse;		/* Allow cell borders to collapse */
}

/* Highlight the table header with a grey background */
.resultstable thead {
	background-color: #e8e8e8;
}

/* For all table cells, show a border and add some padding. */
.resultstable td,
.resultstable th {
	border: 1px solid #ddd;
	padding: 0.3em;
}

/* Highlight alternate table rows */
.resultstable tr:nth-child(even) {
	background-color: #f8f8f8;
}

/* Show the score column bold, and the time column italic */
.resultstable td.score {
	font-weight: bold;
}

.resultstable td.time {
	font-style: italic;
}