/* =============================================================================
 * Variables.
 * ========================================================================== */
:root {
    --font-family: Calibri, Arial, Helvetica, sans-serif;
    --text-font-size: 2vmin;
    --button-font-size: 3.75vmin;
    --main-radius: 1em;
    --main-color: #2563eb;
    --shadow-color: #1c2c32;
    --face-color: #31434d;
}

/* =============================================================================
 * Text inputs.
 * ========================================================================== */
 
.textInputClass {
    font-family: var(--font-family);
    font-size: var(--text-font-size);
    color: white;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    caret-color: white;
}

.textInputClass::selection {
  background: var(--shadow-color);
  color: white;
}

textInputClass::-moz-selection {
  background: var(--shadow-color);
  color: white;
}

/* =============================================================================
 * Buttons.
 * ========================================================================== */

.buttonCore {
    border: 0;
    border-radius: 0.5em;
    cursor: pointer;
    transition: transform 80ms ease-out, box-shadow 80ms ease-out;
    --btn-bg: #ccc;
    --btn-shadow: #999;
    --btn-shadow-active: #666;
    background-color: var(--btn-bg);
    box-shadow: 0 0.29em 0 0 var(--btn-shadow);
}

.buttonCore:active:not(:disabled) {
    transform: translateY(0.19em);
    box-shadow: 0 0.1em 0 0 var(--btn-shadow-active);
}

.buttonCore:disabled {
    opacity: 0.5;
    cursor: default;
}

.buttonText {
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: 600;
    color: #ffffff;
}

.buttonColorGreen {
    --btn-bg: #77ae88;
    --btn-shadow: #3b8752;
    --btn-shadow-active: #3b8752;
}

.buttonColorYellow {
    --btn-bg: #ffc542;
    --btn-shadow: #bc850a;
    --btn-shadow-active: #bc850a;
}

.buttonColorRed {
    --btn-bg: #fc575d;
    --btn-shadow: #bf3136;
    --btn-shadow-active: #bf3136;
}

/* =============================================================================
 * Preview canvas.
 * ========================================================================== */

#previewCanvas {
    width: 100%;
    height: 100%;
}

/* =============================================================================
 * Decorations.
 * ========================================================================== */

.bubble {
    background: var(--face-color);
    border-radius: var(--main-radius);
    width: 100%;
    height: 100%;
}

.bubbleShadow {
    background: var(--shadow-color);
    border-radius: var(--main-radius);
    width: 100%;
    height: 100%;
}