.menu-viewport {
    /* Perspective and centering. */
    perspective: calc(var(--s) * 4);
    perspective-origin: center;
    display: grid;
    place-items: center;
    min-height: 100vh;

    /* Transition logic. */
    transition: opacity 0.25s ease, scale 0.25s ease;
    opacity: 1;
    scale: 1;
}

/* Hidden state for the menu */
.menu-viewport.hidden {
    opacity: 0;
    scale: 0.75;
    filter: brightness(0.5) blur(4px);
    pointer-events: none;
}

.menu {
    --s: 20vmin;    /* Menu item size. */
    --rot: 0deg;    /* Menu rotation */

    width: var(--s);
    display: grid;
    transform-style: preserve-3d;
    position: relative;
    transform: scaleX(-1) rotateX(-100deg) rotate(var(--rot));
    transition: transform 0.25s cubic-bezier(.2,.85,.2,1);
    will-change: transform;
}

/* Each menu item is simply an image */
.menu > img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transform: rotate(var(--_a)) translateY(120%) rotateX(75deg);
}

/* Draw a semi-transparent circle below the menu */
.menu::before {
    content: "";
    position: absolute;
    inset: -150%;
    clip-path: circle(50% at 50% 50%);
    background: #000000aa;
    transform: translateZ(calc(var(--s)/2));
}

/* Do not apply smoothing filters to the image */
img {
    image-rendering: pixelated;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}